<section class="look__after">
<h1 class="look__after__title container">Догляд за малюком</h1>
<div class="container">
<h2 class="look__after__titleh2">Як доглядати за шкірой малюка при пелюшковому дерматиті</h2>
<ul class="look__after__text">
    <li>Найкращий захист від попрілостей – сухість шкіри в області підгузків, 
        тому змінюйте підгузок вашої дитини часто і якнайшвидше, 
        після того, як вона промокне або забрудниться.</li>
    <li>
        Ретельно очищайте ділянку геніталій вашої дитини при кожній зміні підгузків. Зверніть особливу увагу на складки.
    </li>
    <li>
        Ніколи не потрібно терти ніжну шкіру.
М'яко очищайте шкіру і витирайте насухо після зміни підгузки.
    </li>
    <li>
        Переконайтеся, що підгузник не надто тугий, щоб забезпечити циркуляцію повітря.
    </li>
    <li>
        Одягайте свою дитину у вільний одяг.
    </li>
</ul>
</div>
<div class="container">
    <h2 class="look__after__titleh2">Наносьте ОлаКеа при кожній зміні підгузка</h2>
    <p class="look__after__p">Попрілость шкіри спричинена фекальними протеазами дитини. Діапо-Кеар містить інгібітори протеазних ферментів, 
        які усувають причину висипань. Застосування ОлаКеа під час епізодів попрілостей відновить та вилікує шкіру.</p>
</div>
<img src="./images/OlaCare.webp" alt="olacare" width="100%">
<div>
    <p class="hero__message">
    ОлаКеа захищає Вашу дитину
   </p>
</div>
</section>