.footer {
    background-color: #3b4394;
}

.footer__menu {
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
}

.footer__menu__link {
    color: #fff;
}

.divider {
    margin-top: 30px;
}

.footer__label {
    padding-left: 10px;
}

.footer_adress {
    color: #fff;
    font-size: 16px;
    text-align: center;

}

.footer_adress p {

    margin: 0px;
        margin-top: 10px;
}

