.reviews__list {
    list-style-type: none;
    padding: 0px;
    text-align: center;

}

.reviews__item {
    font-family: 'Roboto Mono';
    font-style: italic;
}

.reviews__item__author {
    color: #7A7A7A;
}