<section class="questions">
  <h1 class="questions__title container">Питання, що найчастіше задаються</h1>
  <div class="container">
    <h2 class="questions__titleh2">Чи безпечно використовувати ОлаКеа?</h2>
    <p class="questions__text">
      ОлаКеа містить міжнародно визнані косметичні інгредієнти і тому
      класифікується як косметичний продукт. Ключовий інгредієнт, інгібітори
      протеазних ферментів, одержані з натурального продукту, дерматологічно
      протестованого та схваленого британськими педіатрами. Тому використання
      ОлаКеа є абсолютно безпечним.
    </p>
  </div>

  <div class="container">
    <h2 class="questions__titleh2">Чи є ОлаКеа гіпоалергенним?</h2>
    <p class="questions__text">
      У дослідженні, проведеному у Великій Британії, оцінювали подразнення та
      чутливість крему ОлаКеа на шкірі. Результати цього дослідження показали,
      що ОлаКеа є: гіпоалергенним, безпечним та м'яким для шкіри, підходить для
      чутливої шкіри та схвалений педіатрами.
    </p>
  </div>

  <div class="container">
    <h2 class="questions__titleh2">
      Чи можу я продовжувати використовувати підгузки разом з ОлаКеа?
    </h2>
    <p class="questions__text">
      Ви можете продовжувати використовувати ОлаКеа у поєднанні з підгузками.
      ОлаКеа це легкий крем, який дозволяє шкірі дихати і не прилипає до
      підгузника на відміну від інших засобів.
    </p>
  </div>

  <div class="container">
    <h2 class="questions__titleh2">Як швидко діє ОлаКеа?</h2>
    <p class="questions__text">
      Ви можете побачити позитивний ефект протягом одного тижня, але найчастіше
      ефект розвивається значно швидше. Дослідження показали, що у тяжких
      випадках безперервне застосування ОлаКеа протягом трьох тижнів призводить
      до значного покращення.
    </p>
  </div>

  <div class="container">
    <h2 class="questions__titleh2">
      Чи буде ОлаКеа всмоктуватись у шкіру дитини?
    </h2>
    <p class="questions__text">
      ОлаКеа - медичний косметичний засіб, що не містить генетично модифікованих
      продуктів, гіпоалергенний і не токсичний. ОлаКеа слід застосовувати
      місцево, при цьому системні концентрації будуть мінімальні. Ця оцінка
      безпеки заснована на 100% абсорбції через шкіру всіх інгредієнтів крему.
      Цей звіт про оцінку безпеки складено експертами з косметичної безпеки у
      Великій Британії. SED (дозування системного впливу) було розраховано
      виходячи з припущення про 100% абсорбції через шкіру, і з звіту випливає,
      що продукт безпечний для використання.
    </p>
  </div>

  <div class="container">
    <h2 class="questions__titleh2">Чому тюбик ОлаКеа має такий розмір?</h2>
    <p class="questions__text">
      ОлаКеа в тубі 40 грам забезпечує достатнє, багаторазове, безперервне
      нанесення протягом декількох тижнів або коли це необхідно. Інгібітори
      протеаз також є профілактичними, тому застосування (після кожної зміни
      підгузника) ОлаКеа також запобігає попрілості.
    </p>
  </div>

  <div class="container">
    <h2 class="questions__titleh2">Який запах має ОлаКеа?</h2>
    <p class="questions__text">ОлаКеа немає запаху.</p>
  </div>

  <div class="container">
    <h2 class="questions__titleh2">
      Чи може використовуватися ОлаКеа при розчісуваннях, порізах, саднах,
      синцях?
    </h2>
    <p class="questions__text">
      ОлаКеа призначений для догляду за шкірою дитини при пелюшковому дерматиті.
    </p>
  </div>
  <div>
    <p class="hero__message">ОлаКеа захищає Вашу дитину</p>
  </div>
</section>
