<section>
    <h1 class="main__title container">
    Що таке пелюшковий дерматит?
</h1>
<div class="container">
    <h2 class="main_desribe">Фекальні протеази: причина виникнення пелюшкового висипу</h2>
<p>Протеази – група ферментів, які присутні у шлунково-кишковому тракті (ШКТ) у людини та допомагають нам перетравлювати їжу білкової природи. У нормі протеази повністю нейтралізуються у процесі травлення. Однак у маленьких дітей та немовлят ШКТ ще до кінця не сформовано. Це означає, що протеази не повністю нейтралізуються під час транзиту їжі та залишаються активними після спорожнення кишечника. Активні протеази виявляють протеолітичну активність (розщеплення білків), що призводить до пошкодження ніжної шкіри дитини в періанальній ділянці.</p>
<img src="./images/whatisdiaperrash1-1024x536.png" alt="baby" width="100%">
</div>
<div class="container">
    <h2 class="main_desribe">Протеази провокують появу на шкірі:</h2>
<ul class="main__list__rash">
    <li class="main__rash">Запалення</li>
    <li class="main__rash">Подразнення</li>
    <li class="main__rash">Кожного висипу</li>
</ul>
</div>
<div class="container">
    <h2 class="main_desribe">Протеолітична активність (ПА) ферментів:</h2>
<p>ПА фекальних ферментів є дуже високою у новонароджених дітей та немовлят, особливо на першому році життя.</p>
<img src="./images/whatisdiaperrashru2.png" width="100%" alt="reference">
<img src="./images/whatisdiaperrashru3.png" alt="rate" width="100%">
</div>

<div class="diaporash__factors">
<div class="container">
        <h2 class="main_desribe">Шкіра стає більш чутливою до активних протеаз при:</h2>
    <ul>
    <li>
        Тривалому зволоженні шкіри у періанальній області фекаліями та/або сечею
    </li>
    <li>
        Перехіду від грудного молока на молочну суміш
    </li>
    <li>
        Діареї
    </li>
    <li>
        Прорізуванні зубів
    </li>
   <li>
     Введенні твердої їжі
   </li>
   <li>
     Прийомі антибіотиків
   </li>
</ul>
</div>
</div>
<div>
    <p class="hero__message">
    ОлаКеа захищає Вашу дитину
   </p>
</div>
</section>