.questions {
    font-family: var(--font-family);
}

.questions__title {
    margin: 0px;
    color: var(--title-color);
    text-align: center;
}


.questions__titleh2 {
        color: var(--titleh2-color);
    margin: 0px;
}

.questions__text {
        margin-top: 30px;
    font-size: 20px;
}