<section >
    <div class="container why__ola">
        <h1 class="why__ola__title">Чому ОлаКеа?</h1>
        <h2 class="why__ola__title__h2">Порівняння шкіри дорослого та дитини</h2>
    </div>
            <div class="skin__about">
                <div class="container">
                    <h2 class="skin__title">Шкіра дорослого</h2>
                    <p>Не дуже схильна до впливу, тому що товщина шкіри більша ніж у дитини.</p>
                    <p>Протеази, які проходять через шлунково-кишковий тракт, інактивуються у кишківнику (ще до спорожнення), 
                        тому не здатні завдати шкоди на шкіру дорослого.</p>
                    <h2 class="skin__title">Шкіра дитини</h2>
                    <p>Активні протеази у фекаліях ушкоджують ніжну шкіру дитини і призводять до пелюшкового висипу.</p>
                    <p>Протеази, які проходять через кишківник у немовлят, залишаються активними після спорожнення, 
                        тому можуть пошкодити чутливу шкіру.</p>
                </div>
            </div>
            <img src="./images/whyuseolacare.png" alt="use OlaCare" width="100%">
            <h1 class="container why__ola__title__h2">Навіщо лікувати наслідки, коли Ви можете запобігти появі 
                роздратування в області підгузки?</h1>
                <img src="./images/whyusedolacare4.png" alt="effects OlaCare" width="100%">
            
            <div class="OlaCare__benefits">
               <div class='container'>
 <img src="./images/OlaCare-tube.png" alt="OlaCare tube" width="100%" >
                <h2>Переваги ОлаКеа:</h2>
                <ul>
                    <li class="OlaCare__benefits__item"><span>Впливає на причину пелюшкового дерматиту</span> пригнічує активність фекальних протеаз</li>
                    <li class="OlaCare__benefits__item"><span>Захищає чутливу шкіру</span> дитини</li>
                    <li class="OlaCare__benefits__item"><span>Доведена клінічна ефективність </span>при тяжкому протіканні пелюшкового дерматиту</li>
                    <li class="OlaCare__benefits__item"><span>Легко наноситься та </span>змивається</li>
                    <li class="OlaCare__benefits__item">Інгібітори протеаз <span> складаються з натуральних компонентів</span> без барвників. Крем є гіпоалергенним</li>
                    <li class="OlaCare__benefits__item">Схвалений <span>Британським Дослідницьким Інститутом</span></li>
                </ul>
               </div>
            </div>
            <div>
    <p class="hero__message">
    ОлаКеа захищає Вашу дитину
   </p>
</div>  
</section>
