<section class="sale">
    <h1 class="sale__title container">
        Придбати ОлаКеа можна в аптеках України
    </h1>
    <div class="sale_apotekes container">
        <ul class="sale_apotekes__list">
            <li>
                <a href="https://apteka.net.ua/search?search=%D0%BE%D0%BB%D0%B0%D0%BA%D0%B5%D0%B0" rel="noopener">
                    <img src="./images/bagaemo-zdorovia.png" alt="bagaemo zdorovia" width="100%" /></a>
            </li>

            <li>
                <a href="https://anc.ua/item/olakea-krem-40g-eurodrug-labniderlandy-1064178" rel="noopener">
                    <svg height="70px">
                        <use href="./images/symbol-defs.svg#icon-anc-logo">
                        </use>
                    </svg></a>
            </li>

            <li>
                <a href="https://tabletki.ua/%D0%9E%D0%BB%D0%B0%D0%9A%D0%B5%D0%B0/1055898/" rel="noopener">
                    <img src="./images/tabletki.webp" alt="bagaemo zdorovia" width="100%" /></a>
            </li>

            <li сlass="sale__title">
                Інші аптека Вашого міста
            </li>
        </ul>
    </div>
</section>