<footer class="footer container">
  <ul class="footer__menu">
                    <li class="nav-item">
                        <a class="footer__menu__link"" href="index.html">Головна</a>
                    </li>
                    <li class="">
                        <a class="footer__menu__link" href="./diaper-rash-info.html">Що таке пелюшковий дерматит?</a>
                    </li>
                    <li class="">
                        <a class="footer__menu__link" href="./ola-care.html">Чому Ола-Кеа?</a>
                    </li>
                    <li class="">
                        <a class="footer__menu__link" href="./look-after.html">Догляд за малюком</a>
                    </li>
                    <li class="">
                        <a class="footer__menu__link" href="./questions.html">Питання</a>
                    </li>
                                    <li class="nav-item">
                        <a class="footer__menu__link"" href="./sale.html">Де придбати?</a>
                    </li>
                                        <li class="divider">
                        <a class="footer__menu__link" href="#">Контакти</a>
                    </li>
                                    <li class="nav-item">
                        <a class="footer__menu__link"" href="./sale.html">Політика конфіденційності</a>
                    </li>
                </ul>

                <address class="footer_adress">
<img src="./images/megacom-label-img.png" alt="megacom">
                    <div class="footer__info">
                        <p>Виробник : "Евродраг Лабараторіз Б.В., Нідерланди"</p>
                        <p>Дистрибютор в Україні: ТОВ Мегаком, 61145, м. Харків, вул. Клочківська 195б, тел./факс. +380577255298, email: om@megacom.com.ua</p>
                    </div>
                    
                </address>
</footer>