<section class="hero">

    <div class="container">
        <p class="hero__info">Перший продукт у світі, що містить <span class="hero__nip">
природні інгібітори протеаз 
    </span>для лікування та профілактики пелюшкового дерматиту </p>
    </div>
    <img src="./images/OlaCare.webp" alt="logo Ola Care" class="hero__image">
<div class="hero__describe">
   <div class="container">
      <p class="hero__features"> <span class="hero__feature__accent">Відновлює : </span> впливає на причину пелюшкового дерматиту, завдяки нейтралізації активності ферментів</p>

    <p class="hero__features"> <span class="hero__feature__accent">Захищає : </span> ніжну шкіру Вашої дитини</p>
   </div>
</div>
<div>
    <p class="hero__message">
    ОлаКеа захищає Вашу дитину
   </p>
</div>
</section>