<section class="reviews container">
<ul class="reviews__list">
    <li class="reviews__item">
            <p class="reviews__item__text">Чудовий результат. Шкіра дитини повністю відновилась</p>
    <p class="reviews__item__author">Мартін, Нідерланди</p>
    </li>
        <li class="reviews__item">
            <p class="reviews__item__text">Дуже довго не могли вирішити проблему пелюшкового дерматиту у дитини. З Ола-Кеа вдалося</p>
    <p class="reviews__item__author">Ізабель, Малайзія</p>
    </li>
            <li class="reviews__item">
            <p class="reviews__item__text">Ми не лише позбавались висипу, але й попередили появу нового</p>
    <p class="reviews__item__author">Марі, Гонконг</p>
    </li>
</ul>
</section>