.sale_apotekes  {
    background-color: var(--background-second);
    font-family: var(--font-family);
        color: var(--titleh2-color);
        font-size: 30px;
        font-weight: 600;
        text-align: center;

}

.sale__title {
    margin: 0px;
    color: var(--title-color);
    text-align: center;
}
.sale__text__item {
    color: var(--titleh2-color);
    margin: 0px;
}

.sale_apotekes__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-left: 0px;

    li {
        cursor: pointer;
        margin-bottom: 20px;
    }
}

